<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red Pine Portal News</title>
    <link rel="stylesheet" href="../style.css" />

  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-logo">
          <img
            src="./svg/logo.svg"
            alt="logo"
            class="navbar-img"
            id="navbar-logo"
          />
        </div>
        <div class="navbar-query">
          <form action="#query">
            <input
              type="text"
              placeholder="Search for topics, locations & sources"
            />
            <button type="submit" hidden></button>
          </form>
        </div>
        <div class="navbar-icons">
          <img
            src="./svg/user.svg"
            alt="account"
            class="navbar-img navbar-side-img"
            id="navbar-account"
          />
          <img
            src="./svg/settings.svg"
            alt="settings"
            class="navbar-img navbar-side-img"
            id="navbar-settings"
          />
          <img
            src="./svg/dark-theme.svg"
            alt="theme"
            class="navbar-img navbar-side-img"
            id="navbar-theme"
          />
          <img
            src="./svg/menu.svg"
            alt="theme"
            class="navbar-img navbar-side-img"
            id="navbar-menu"
          />
        </div>
      </nav>

      <nav class="navbar-links">
        <a href="#top" class="active">Your briefing</a>
        <a href="#sports">Sports</a>
        <a href="#cooking">Cooking</a>
        <a href="#tech">Technology</a>
        <a href="#finance">Finance</a>
        <a href="#entertainment">Entertainment</a>
      </nav>
    </header>

    <div class="hero">
      <h1>Your briefing</h1>
      <hr class="title-hr">
      <div class="headlines">
          <% topHeadlines.forEach(article => { %> 
            <% if (article.urlToImage) { %>   
              <div class="headline-card">
                <img src="<%= article.urlToImage %>" alt="News Image" />
                <a href="<%= article.url %>" target="_blank">
                  <p id="news-title"><%= article.title %></p>
                </a>
              </div>
            <% } %>
          <% }) %>
      </div>
    </div>
    <div class="category-section">
      <div class="category">
        <h2>Sports</h2>
        <% sportsNews.forEach(article => { %>
        <div class="category-card">
          <img src="<%= article.urlToImage %>" alt="News Image" />
          <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
        </div>
        <% }) %>
      </div>
      <div class="category">
        <h2>Finance</h2>
        <% financeNews.forEach(article => { %>
        <div class="category-card">
          <img src="<%= article.urlToImage %>" alt="News Image" />
          <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
        </div>
        <% }) %>
      </div>
      <div class="category">
        <h2>Technology</h2>
        <% techNews.forEach(article => { %>
        <div class="category-card">
          <img src="<%= article.urlToImage %>" alt="News Image" />
          <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
        </div>
        <% }) %>
      </div>
    </div>

    <footer>
      <p>© 2024 Red Pine Portal News | Powered by NewsAPI</p>
    </footer>
  </body>
</html>
