<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= source %> News</title>
  <link href="../../public/css/styles.css" rel="stylesheet">
</head>
<body>
  <h1>News from <%= source %></h1>
  <ul>
    <% news.forEach(article => { %>
      <li>
        <h2><%= article.title %></h2>
        <p><%= article.description %></p>
        <a href="<%= article.url %>">Read more</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
